# Python
*.pyc
*.pyo
__pycache__/

# Django
db.sqlite3
*.log
*.pot
*.py[cod]
*.sqlite3
*.env

# Virtual environment
venv/
env/

# IDEs and editors
.vscode/
.idea/
*.swp

# Static and media files
/static/
media/

# System files
.DS_Store
Thumbs.db